.container{
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
}

.anim1{
  position: absolute;
}
.anim2{
  position: absolute;
  margin-top: -50%;
  z-index: 1000;
}
.Z-index{
z-index: 1;
}

img{
  width: 20vw;
}